[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
matplotlib = "==3.5.3"
seaborn = "*"
pandas = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
